ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 70%;
  margin: auto;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

li a:hover {
  background-color: #111;
}

ul li{
  display:inline-block;
}



body{
  background: linear-gradient(#322626, #6F4E37);
  font-family: Arial, sans-serif;
}

.main-body{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  background-color: beige;
  color:black;
  height:1000px; 
  border-radius: 25px;
}

.header-main{
  text-align: center;
  color:beige
}


.main-heading{
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.main-content{
  padding: 0px 30px 0px 30px;
}

.index-height{
  height:1000px;
}

.index-body-height{
  height:800px;
}

.post-container {
  margin: 20px 20px 0 0;  
  overflow: auto
}
.post-thumb {
  float: left
}
.post-thumb img {
  display: block
}
.post-content {
  margin-left: 250px;
  text-align: left;
  
}
.post-title {
  font-weight: bold;
  text-align: center;
}


.container {
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}
th {
  text-align: right; 
}

.height-auto
{
  height: auto;
}
.cafe-images {
  text-align: center;
}